.home {
  &__greetings {
    padding: 48px 0 74px;
    background-color: $background-primary;

    &-subtitle {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 240px;
    }

    &-title {
      font-size: 50px;
      font-weight: 600;
      line-height: 61px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 720px;
    }
  }
}