.home {
  &__greetings {
    padding: 48px 0 74px;
    background-color: $background-primary;
    position: relative;
    z-index: 3;
    overflow: hidden;

    &-subtitle {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 240px;

      @media (width <= 767px) {
        margin-bottom: 80px;
        font-size: 24px;
      }
    }

    &-title {
      font-size: 50px;
      font-weight: 600;
      line-height: 61px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 720px;

      @media (width <= 767px) {
        font-size: 36px;
        line-height: 48px;
      }
    }
  }
}