.navigation {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  align-self: center;
  gap: 4px;
  border-radius: 14px;
  box-shadow: 4px 4px 8.8px rgba(30, 30, 30, 0.15);
  backdrop-filter: blur(24px);
  background: linear-gradient(261deg, #EEEEEE 0%, #CDCDD9 100%);
  padding: 8px;

  &__item {
    padding: 12px;
    border-radius: 10px;
    color: $text-secondary;
    fill: $text-secondary;
    background: $background-tertiary;
    border: 1px solid $card-stroke;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 100px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color .15s, color .15s, fill .15s;

    &:hover {
      background: $background-secondary;
    }

    &--active {
      color: $text-black;
      fill: $text-black;
      background: $background-secondary;
    }
  }
}