.swiftflow {
  padding-top: 80px;
  background-color: $background-primary;
  $this: &;

  @media (width <= 480px) {
    padding-top: 40px;
  }

  svg {
    width: 100%;
    height: auto;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (width <= 768px) {
      gap: 48px;
    }
  }

  &__pt-serif {
    font-family: $font-pt-serif;
  }

  &__heading {
    &--2 {
      @include heading2;

      & + #{$this}__heading--4 {
        margin-top: 36px;
      }
    }

    &--3 {
      @include heading3;

      & + #{$this}__body--1 {
        margin-top: 36px;
      }
    }

    &--4 {
      @include heading4;

      & + #{$this}__body--1 {
        margin-top: 16px;
      }
    }
  }

  &__body {
    b {
      font-weight: 700;
    }

    &--1 {
      @include body1;

      & + & {
        margin-top: 24px;
      }

      & + #{$this}__heading--3 {
        margin-top: 32px;
      }
    }

    &--italic {
      font-style: italic;
    }

    &--semibold {
      font-weight: 600;
    }

    &--subtitle {
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  &__flex {
    display: flex;
    gap: 24px;

    @media (width <= 768px) {
      flex-direction: column;
    }

    &-left {
      min-width: 250px;

      @media (width <= 768px) {
        min-width: unset;
      }
    }
  }

  &__data-image {
    margin-top: 80px;

    @media (width <= 768px) {
      margin-top: 40px;
    }
  }

  &__graph-image {
    margin-top: 36px;
  }

  &__prototype-image {
    margin-top: 80px;
    width: 100%;

    @media (width <= 768px) {
      margin-top: 40px;
    }
  }

  &__flow-image {
    margin-top: 32px;
  }

  &__testing {
    &-images {
      display: flex;
      gap: 60px;

      @media (width <= 768px) {
        gap: 32px;
        flex-direction: column;
        margin-top: 40px;
      }
    }

    &-title {
      margin-bottom: 4px;
      line-height: 22px;

      & + #{$this}__testing-subtitle {
        margin-bottom: 24px;
        margin-top: 0;
      }
    }

    &-item {
      width: 50%;

      @media (width <= 768px) {
        width: 100%;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;

      img {
        max-height: 350px;
      }
    }
  }

  &__footer {
    background-color: $background-secondary;
    padding: 32px 0;
    margin-top: 80px;

    @media (width <= 768px) {
      margin-top: 120px;
    }

    &-inner {
      display: flex;
      gap: 32px;
      justify-content: space-between;

      @media (width <= 480px) {
        flex-direction: column;
      }
    }

    &-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      text-align: center;
      align-items: center;
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }

    &-text {
      font-family: $font-pt-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;

      &--underline {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          background-color: $text-black;
          left: 0;
          bottom: 4px;
        }

        &:hover {
          &::after {
            height: 0;
          }
        }
      }
    }
  }
}