@import "./shared/reset";
@import "./shared/fonts";
@import "./shared/variables";
@import "./shared/mixins";

body {
  font-family: $font-proxima-nova;
  color: $text-black;
}

.container {
  max-width: 1290px;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;

  &--small {
    max-width: 1090px;
  }

  @media (width <= 480px) {
    padding: 0 15px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}