@import "./fonts";

// Fonts

$font-proxima-nova: 'Proxima Nova', sans-serif;

// Colors

$text-black: #1E1E1E;
$text-secondary: #B0B0B0;

$background-primary: #EDF4F9;
$background-secondary: #FEFEFE;
$background-tertiary: #f3f3f3;
$card-stroke: #dbdbdb;

